{% extends 'base.html.twig' %}

{% block title %}Profile Settings{% endblock %}



{% block body %}
    {{ include('settings_profile/_tabs.html.twig') }}
    <div class="px-20">
        {{ form_start(form) }}
            {{ include('settings_profile/_form.html.twig') }}
        <div class="mt-2 flex justify-center">
            <button type="submit"
                    class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4
                hover:bg-indigo-400
                rounded w-full">Save it</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
