{% extends "base.html.twig" %}
{% block title %}index{% endblock %}

{% block body %}
    <div>
        <h1>This is a Title</h1>
        {% if messages | length > 0 %}

            <div class="message">
                {% for key,message in messages | slice(0,limit) %}
                    <div>
                        <a href="{{ path('showone',{id:key}) }}">{{ message.message }}</a>
                    </div>
                    {{ include('hello/_message.html.twig',{message:message}) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}